<div class="chat-container">
        <h1 class="chat-title">Chat</h1>
        <div class="chat-input-container">
            <input type="text" id="chatBox" placeholder="Escribe tu mensaje aquí..." class="chat-input">
            <button id="sendButton" class="btn btn-send">Enviar</button>
        </div>
        <div class="chat-messages">
            <p id="messagesLogs" class="chat-messages-logs"></p>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/index.js"></script>