<h1>inicio de sesion</h1>
<p>Para acceder a ver productos inicie sesión</p>
<form class="" action="/api/users/login" method="POST"></form>
    <label for="email">Email:</label>
    <input type="email" class="" id="email" name="email" required>
    
    <label for="password">Password:</label>
    <input type="password" class="" id="password" name="password" required>
    
    <button type="submit" class="">Login</button>
    
</form>
<a href="/api/sessions/github"> GITHUB </a>