<header class="navbar">
        <div class="navbar-container">
            <h1 class="logo">Logo</h1>
            <nav class="navbar-menu">
                <ul class="navbar-links">
                    <li class="navbar-item">
                        <a href="/login" class="navbar-link">Inicio de Sesión</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/register" class="navbar-link">Registrarse</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/api/users/profile" class="navbar-link">Mi Perfil</a>
                    </li>
                </ul>
                <div class="navbar-burger">
                    <span class="burger-bar"></span>
                    <span class="burger-bar"></span>
                    <span class="burger-bar"></span>
                </div>
            </nav>
        </div>
    </header>

    <script src="/js/header.js"></script>